body,
html {
    margin: 0;
    -webkit-transition: opacity 400ms;
    -moz-transition: opacity 400ms;
    transition: opacity 400ms;
    height: 100%;
    overflow: hidden;
}

main, .album-layout {
    height: 100% !important;
    width: 100%;
}
header {
    position: relative !important;
} 

.album-layout {
    display: flex;
    padding: 5px;
    flex-direction: row;
}
#kgrid {
    margin: 10px 5px;
    padding-top: 10px;
    padding: 5px;
    overflow-y: scroll;
    height: 90%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background: white;  
}
#kgrid:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.album-layout .container.medium-text-justify {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 60%;
    margin-left: 2%;
    margin-right: 2%;
    height: 90%;
    margin-top: auto;
    /* This should be a koken's setting that enables/disables sticky (to bottom) card */
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    background: white;
}
.album-layout .container.medium-text-justify:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.album-desc {
    overflow-y: auto;
    max-height: 70%;
}
.album-link {
    display: flex;
    margin-top: 10px;
}
.album-link p {
    margin-right: 10px;
}

@media screen and (max-width: 600px) {
    main {
        padding: 0;
        display: block;
        overflow: auto;
    }
    .album-layout {
        flex-direction: column;
        display: block;
        margin-top: 10px;
        /*height: 420px;*/
    }
    .album-layout .container.medium-text-justify {
        width: auto;
        height: 250px;
    }
    .album-desc {
        max-height: 60%;
        font-size: smaller;
    }
    .album-link {
        position: relative;
        display: flex;
        font-size: smaller;
    }
    #kgrid {
        padding-top: 10px;
        margin-top: 10px;
        height: auto;
    }
  }