body {
    background-color: #f5f5f5;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    position: static;
    padding: 0;
    width: 100%;
}
body, html {
  margin: 0;
  overflow: hidden;
  -webkit-transition: opacity 400ms;
  -moz-transition: opacity 400ms;
  transition: opacity 400ms;
  height: 100%;
}

main {
    height: 100% !important; 
    padding: 0px 0px !important;
    width: 100%;
}

#slide {
    height: 100%;
}
  
.hover-underline-menu {
    background: rgba(0, 0, 0, 0.3);
}

.hover-underline-menu .menu a {
    color: #fff;
}

.thumbbg {
    z-index: -10;
    position: absolute;
    width: 100%; 
    height:100%;
    top:0;
    left: 0;
    filter: blur(7.5px);
    transform: scale(1.1); 
    background-color: grey;
    background-blend-mode: multiply;
}
/*.thumbbg:after {
    z-index: -5;
    content: '\A';
    position: absolute;
    width: 100%; 
    height:100%;
    top:0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
}*/

.center {
    position: relative;
    vertical-align: middle;
    z-index: 999;
    margin: auto auto;
    max-width: 70%;
}

